@import "tailwindcss" source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@plugin "daisyui" {
  themes:
    dim --default,
    night;
}

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Space Grotesk", system-ui, sans-serif;
}
